.header{
    display: flex;
    background-color: palevioletred;
    color: white;
}

.footer{
    background-color: silver;
}

.content{
    margin: 0px;
}

*{
    margin: 0px;
}

.menu{
    display: flex;
}